@import '../../../styles.scss';
.tickets-container{
  background-color:$child-color;
  margin-block-start: 50px;
  padding: 30px;
  border-radius: 12px;
  border: 1px solid $border-color;
  background-color:$child-color;


  .header-tickets{
    display: flex;
    justify-content: space-between;
    margin-block-end: 20px;
    .tickets-title{

    }
    .search-container{
      max-width: 225px;
     max-height: 40px;
     padding: 6px 7px 6px 30px;
     border-radius: 6px;
     border: 1px solid $border-color;
     position: relative;
     .search{
      width: 150px;
    border: none;
    outline: $dark-blue;

     }
     &::before{
       content: url("../../../assets/images/search-icon.svg");
       // background-image: ;
       position: absolute;
       inset-block-end: 1;
       inset-inline-start: 0;
       margin-inline-start: 6px;
       width: 21px;
       height: 21px;
       background-size: cover;
       background-repeat: no-repeat;
     }
    }
  }
  .table-container{
    max-height:calc(50vh - 30px);
    outline: 1px solid $border-color;
    border-radius: 6px;
    overflow: overlay;

  .general-table{
      width: 100%;
      min-height: 225px;
      border-collapse: collapse;

    }
    .table-header{
      position: sticky;
      top: 0;
      z-index: 1;
      tr{
        th{
          border-inline-end: 1px solid $border-color;
          text-align: start;
          padding: 13px;
          @include font(500,16px)
      }
    }
      background-color:$head-table;
    }
    .table-body{
      @include font(400,16px);
        tr{

          .status{
            padding: 6px 12px;
            border-radius: 50px;
            width: fit-content;
          }
            .open{
              background-color: rgba($color: $dark-blue, $alpha: 0.25);
              color: $dark-blue;
              &:hover{
                background-color: $dark-blue;
                color: $child-color;
              }

            }
            .pending{
              background-color: rgba($color: $dark-pink, $alpha: 0.25);
              color: $dark-pink;
              &:hover{
                background-color: $dark-pink;
                color: $child-color;
              }
            }
            .progress{
              background-color: rgba($color: $dark-yellow, $alpha: 0.25);
              color: $dark-yellow;
              &:hover{
                background-color: $dark-yellow;
                color: $child-color;
              }
            }
            .closed{
              background-color: rgba($color: $dark-green, $alpha: 0.25);
              color: $dark-green;
              &:hover{
                background-color: $dark-green;
                color: $child-color;
              }
            }

          .high{
            color: $dark-pink;
          }
          .low{
            color: $dark-yellow;
          }
          .normal{
            color: $dark-green;
          }
         td:not(.action){
          padding: 13px;
          border-inline-end:1px solid $border-color;
        }

        .action{
          display: flex;
          gap:8px;
          padding: 13px;
          .btn-action{
            display: flex;
            justify-content: center;
            width: 32px;
            height: 32px;
            align-items: center;
            border:none;
            outline: none;
            padding:4px;
            border-radius: 6px;

          }
          .btn-eye{
            background-color: rgba($color: $dark-blue, $alpha: 0.25);
            &:hover{
              background-color: $dark-blue;
              .eye{
                filter: brightness(0) saturate(100%) invert(99%) sepia(16%) saturate(98%) hue-rotate(160deg) brightness(114%) contrast(96%);
              }
            }
          }
          .btn-pine{
            &:hover{
              background-color: $dark-gray;
              .pine{
                filter: brightness(0) saturate(100%) invert(99%) sepia(16%) saturate(98%) hue-rotate(160deg) brightness(114%) contrast(96%);
              }
            }
          }
          .btn-trash{
            background-color: rgba($color: $dark-pink, $alpha: 0.25);
            &:hover{
              background-color: $dark-pink;
              .trash{
                filter: brightness(0) saturate(100%) invert(99%) sepia(16%) saturate(98%) hue-rotate(160deg) brightness(114%) contrast(96%);
              }
            }
          }


        }
      }
    }
  }
}
