@import '../styles.scss';
.main-container{
  background-color: $parent-color;
  padding: 30px;
  padding-inline: 120px;
  
.border-footer{
  border-top:1px solid $dark-blue;
  margin-block-start: 20px;
  padding-block-start: 10px;
  .text-footer{
    @include font(500,12px);
    color: $text-top-color;
    .anchor{
      color: $dark-blue;
    }
  }
}
  }
 

